/* Error: Undefined variable.
 *    ,
 * 24 |         font-size: 16px; line-height: 32px; color: $color-text;
 *    |                                                    ^^^^^^^^^^^
 *    '
 *   assets/styles/base/_typography.scss 24:46  @import
 *   assets/styles/admin/admin.scss 5:11        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 24 \2502          font-size: 16px; line-height: 32px; color: $color-text;\a    \2502                                                     ^^^^^^^^^^^\a    \2575 \a   assets/styles/base/_typography.scss 24:46  @import\a   assets/styles/admin/admin.scss 5:11        root stylesheet";
}
